@use 'sass:map';
@import './boiler.scss';

$sans: 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$serif: 'Noto Serif', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

:root {
  font-family: $sans;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: map.get($dark, 'base');
  color: map.get($dark, 'text');
  margin: 0;
  transition: 0.4s;
  ::selection {
    background: map.get($light, 'base');
    color: map.get($light, 'text');
  }
  .time::selection {
    color: map.get($light, 'crust');
    -webkit-text-stroke: 2px map.get($light, 'overlay2');
    background: #eff1f6;
  }
  button {
    color: inherit;
  }
  &.light {
    background: map.get($light, 'base');
    color: map.get($light, 'text');
    ::selection {
      background: map.get($dark, 'base');
      color: map.get($dark, 'text');
    }
    .time {
      color: map.get($light, 'crust');
      -webkit-text-stroke: 1px map.get($light, 'text');
      &::selection {
        -webkit-text-stroke: 0;
      }
    }
    .date {
      color: map.get($light, 'subtext0');
    }
    .search {
      & > * {
        background: map.get($light, 'mantle') !important;
        border-color: map.get($light, 'text') !important;
      }
      .search-box input {
        color: map.get($light, 'text') !important;
        &::placeholder {
          color: map.get($light, 'subtext0') !important;
        }
      }
      .provider-icon,
      .submit {
        color: map.get($light, 'text') !important;
      }
      .dropdown-button {
        color: map.get($light, 'text') !important;
        &:hover {
          cursor: pointer;
          color: map.get($light, 'subtext0') !important;
        }
      }
    }
    .weather i.bi {
      color: map.get($light, 'crust');
      -webkit-text-stroke: 1px map.get($light, 'text');
    }
    .shortcut {
      background: map.get($light, 'mantle') !important;
      border: 1px solid map.get($light, 'text') !important;
      i,
      .char {
        color: map.get($light, 'text') !important;
      }
      img {
        filter: brightness(0) saturate(100%) invert(33%) sepia(10%)
          saturate(1170%) hue-rotate(196deg) brightness(90%) contrast(94%) !important;
      }
    }
  }
}
